In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("../TextFiles/moviereviews.tsv", sep = "\t")

In [2]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
blanks = []
for i, lb, rv in data.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)
len(blanks)

27

In [4]:
data.dropna(inplace = True)
data.drop(blanks, inplace = True)

In [5]:
data.shape

(1938, 2)

In [6]:
data['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [7]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [8]:
sid = SentimentIntensityAnalyzer()

In [9]:
data['scores'] = data['review'].apply(lambda review: sid.polarity_scores(review))

In [10]:
data['compound'] = data['scores'].apply(lambda d : d['compound'])

In [11]:
data['comp_score'] = data['compound'].apply(lambda score : 'pos' if score >= 0 else 'neg')

In [12]:
data.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(accuracy_score(data['label'], data['comp_score']))

In [ ]:
# positive words with negative meanings
# great performance, bad plots
# hard to detect , tf-idf